<mat-nav-list *ngIf="authService.isAuthenticated && user">

    <mat-list-item *ngFor="let component of components">
        <a matLine *ngIf="!component.leaf.booleanValue" [matMenuTriggerFor]="menu.childMenu">
            {{ component.label | translate}}
            <app-menu-item #menu [items]="component.children"></app-menu-item>
        </a> 
        <a matLine *ngIf="component.leaf.booleanValue" [routerLink]="component.route"> 
            {{ component.label | translate}}
        </a>
    </mat-list-item>

</mat-nav-list>