<h1>{{ 'adm.components.title' | translate }}</h1>

<mat-divider></mat-divider>

<h2>{{ 'adm.components.componentTree' | translate }}</h2>

<mat-tree [dataSource]="dataSource" [treeControl]="flatTreeControl">
    <mat-tree-node *matTreeNodeDef="let node" matTreeNodeToggle matTreeNodePadding>
        <button mat-icon-button disabled></button>
        {{ node.label | translate }}
    </mat-tree-node>
    <mat-tree-node *matTreeNodeDef="let node;when: hasChildren" matTreeNodePadding>
        <button mat-icon-button matTreeNodeToggle>
            <mat-icon class="mat-icon-rtl-mirror">
                {{ flatTreeControl.isExpanded(node) ? 'expand_more' : 'chevron_right' }}
            </mat-icon>
        </button>
        {{ node.label | translate }}
    </mat-tree-node>
</mat-tree>