@import '~@angular/material/theming';
@include mat-core();

$gesthor-light-primary: mat-palette($mat-indigo);
$gesthor-light-accent:  mat-palette($mat-pink);
$gesthor-light-warn:    mat-palette($mat-deep-orange);
$gesthor-light-theme: mat-light-theme($gesthor-light-primary, $gesthor-light-accent, $gesthor-light-warn);

@include angular-material-theme($gesthor-light-theme);

body {
    overflow: hidden;
    font-family: mat-font-family(mat-typography-config());
    font: mat-typography-level-to-styles(mat-typography-config(), body-1);
    overflow-y: auto;
    overflow-x: auto;
}

h1, h2, h3, h4, h5, h6, div, p, ul, li, span, section {
    margin: 0;
    padding: 0;
}

.main-content {
    margin: 0 2em 0 2em;
    padding: .5em;
    overflow-y: auto;
}

.main-content.is-mobile {
    margin: 0;
}

.main-content h1, h2, h3 {
    padding-bottom: .5em;
    margin-top: .5em;
}

.main-content h1 {
    font: mat-typography-level-to-styles(mat-typography-config(), headline);
    font-weight: mat-font-weight(mat-typography-config(), headline);
}

.main-content h2 {
    font: mat-typography-level-to-styles(mat-typography-config(), title);
    font-weight: mat-font-weight(mat-typography-config(), title);
}

.main-content h3 {
    font: mat-typography-level-to-styles(mat-typography-config(), subheading-2);
    font-weight: mat-font-weight(mat-typography-config(), subheading-2);
}